.Toastify__toast-theme--dark {
    border-radius: 12px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.Toastify__toast-icon {
    width: 16px !important;
}

.Toastify__progress-bar--animated {
    // display: none !important;
    visibility: hidden !important;
}
